.capturedPieces {
  display: grid;
  grid-template-columns: repeat(8, 30px);
  grid-template-rows: repeat(2, 30px);
  width: 240px;
  height: 60px;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.piece {
  width: 30px;
  height: 30px;
}