.game {
    position: fixed;
    left: 50%;
    top: 50%;
}

.boardHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}