.game {
  position: fixed;
  left: 50%;
  top: 50%;
}

.boardHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.capturedPieceHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 480px;
}
