.promotepawn {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  width: 360px;
  height: 120px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}